@import "./colors.scss";

.status-bar-0, .status-bar-1 {
    background: rgba($bg, 0.60);
}

.workspace-entry {
    color: $dim;
    .current {
        color: $fg;
    }
}

.workspaces {
    padding-left: 32px;
    padding-right: 16px;
}

.window-title {
    color: $dim;
}
