@use "../eww-colors.scss";

.status-bar-0, .status-bar-1 {
    border-radius: 0 0 16px 16px;
    background: rgba(#192330, 0.9);
}

.workspace-entry {
    color: gray;
    .current {
        color: white;
    }
}
.workspaces {
    padding-left: 32px;
    padding-right: 16px;
}
