@use "../eww-colors.scss";

.status-bar-0, .status-bar-1 {
    background: rgba($bg, 0.5);
    text-shadow: 0 2px 4px black;
}

.workspace-entry {
    color: gray;
    .current {
        color: white;
    }
}
.workspaces {
    padding-left: 32px;
    padding-right: 16px;
}
