window.bar {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.dim,
.secondary {
  color: rgba(255, 255, 255, 0.5);
}

progressbar {
  background-color: transparent;
}

progress,
trough {
  min-height: 2px;
}

trough {
  min-width: 64px;
  background-color: rgba(255, 255, 255, 0.1);
}

progress {
  background-color: rgba(255, 255, 255, 0.5);
}

trough:hover {
  min-width: 128px;
}

.workspaces {
  margin-left: 32px;
}
