input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
            options "compose:menu"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.000000
        scroll-method "two-finger"
        click-method "clickfinger"
    }
    mouse { accel-speed 0.000000; }
    trackpoint { accel-speed 0.000000; }
    trackball { accel-speed 0.000000; }
    tablet
    touch
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="50%"
    workspace-auto-back-and-forth
}
output "DP-1" {
    transform "normal"
    position x=1080 y=0
    mode "2560x1440@180.000000"
}
output "HDMI-A-1" {
    transform "90"
    position x=0 y=0
}
output "HDMI-A-2" {
    transform "normal"
    position x=1080 y=1440
}
screenshot-path "~/Pictures/Screenshots/%Y%m%d-%H%M%S.png"
prefer-no-csd
overview { backdrop-color "#000"; }
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 2
        active-color "#fffc"
        inactive-color "#8888"
    }
    border { off; }
    shadow {
        on
        offset x=0 y=32
        softness 64
        spread 5.000000
        draw-behind-window false
        color "#0008"
    }
    insert-hint { gradient angle=-45 from="#fffc" relative-to="window" to="#fff4"; }
    default-column-width
    preset-column-widths {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
    }
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}
hotkey-overlay
environment {
    "CLUTTER_BACKEND" "wayland"
    "ECORE_EVAS_ENGINE" "wayland-egl"
    "ELM_ENGINE" "wayland_egl"
    "GTK_THEME" "adw-gtk3"
    "GTK_USE_PORTAL" "1"
    "MOZ_ENABLE_WAYLAND" "1"
    "NO_AT_BRIDGE" "1"
    "QT_QPA_PLATFORM" "wayland-egl"
    "QT_WAYLAND_DISABLE_WINDOWDECORATION" "1"
    "SDL_VIDEODRIVER" "wayland,x11,windows"
    "SWWW_TRANSITION" "grow"
    "SWWW_TRANSITION_BEZIER" "0.5,0,0,1"
    "SWWW_TRANSITION_DURATION" "2"
    "SWWW_TRANSITION_FPS" "60"
    "XDG_SESSION_TYPE" "wayland"
    "_JAVA_AWT_WM_NONREPARENTING" "1"
}
binds {
    Ctrl+Escape { spawn "/nix/store/jshmqy49nvxgmgrmqyvn0zw84q6rm71w-muse-shell/bin/muse-shell" "noti" "dismiss"; }
    Mod+0 { focus-workspace 10; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+A { spawn "sh" "-c" "uwsm-app -- /nix/store/ffy36fd7jxzfs5wqrhrhc8w7kxqga80g-rofi-1.7.8+wayland1/bin/rofi -p \"Run what?\" -show drun -run-command \"uwsm app -- {cmd}\""; }
    Mod+Alt+H { set-column-width "-10%"; }
    Mod+Alt+J { set-window-height "+10%"; }
    Mod+Alt+K { set-window-height "-10%"; }
    Mod+Alt+L { set-column-width "+10%"; }
    Mod+Alt+Space { switch-layout "next"; }
    Mod+B { spawn "sh" "-c" "uwsm-app -- /nix/store/ma6bkvin7hwwhs6m1gdgqk7wrjh8y9ld-spotify-1.2.60.564.gcc6305cb/bin/spotify"; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { spawn "sh" "-c" "uwsm-app -T -- fish -i -c fend"; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+Alt+B repeat=false { spawn "sh" "-c" "canberra-gtk-play -i system-shutdown; systemctl reboot"; }
    Mod+Ctrl+Alt+O repeat=false { spawn "sh" "-c" "canberra-gtk-play -i system-shutdown; systemctl poweroff"; }
    Mod+Ctrl+Alt+S allow-when-locked=true repeat=false { spawn "systemctl" "suspend"; }
    Mod+Ctrl+B { spawn "sh" "-c" "uwsm-app -T -- fish -i -c bluetoothctl"; }
    Mod+Ctrl+C { center-column; }
    Mod+Ctrl+E { spawn "sh" "-c" "uwsm-app -- rofimoji --prompt Emoji"; }
    Mod+Ctrl+End repeat=false { spawn "/nix/store/ddrlvb63y8y4p1qg6iqh7yij1kann9z8-prompt-timew-stop"; }
    Mod+Ctrl+Home repeat=false { spawn "/nix/store/6v37d9rdvnzrr7vl0cvzph6xlw6s675y-prompt-timew-start"; }
    Mod+Ctrl+I { move-column-to-workspace-up; }
    Mod+Ctrl+N { spawn "sh" "-c" "uwsm-app -T -- hx /home/muni/notebook//new/$(date +%Y%m%d-%H%M%S).md"; }
    Mod+Ctrl+P { spawn "sh" "-c" "uwsm-app -- /nix/store/nhqccjs9syngwg14swx4v3nrsccinnxk-pavucontrol-6.1/bin/pavucontrol"; }
    "Mod+Ctrl+Page_Down" { move-column-to-workspace-down; }
    "Mod+Ctrl+Page_Up" { move-column-to-workspace-up; }
    Mod+Ctrl+Print { screenshot-window write-to-disk=true; }
    Mod+Ctrl+R { spawn "/nix/store/a6ib44piy7613jlnbsggrih2bj3mbq23-wm-scripts/toggle_gammastep.fish"; }
    Mod+Ctrl+Shift+Down { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+H { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+L { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+Left { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+Up { move-column-to-monitor-up; }
    Mod+Ctrl+Space { switch-layout "prev"; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+W { spawn "/nix/store/bbjianvy6rw7jjf8j7yv9rivsk6i6md7-switch-wallpaper"; }
    Mod+D { spawn "/nix/store/pvirwm7nmp5zrzzcf8kgr8advj8xdb60-open-journal-file--Y_-m_-d"; }
    Mod+Delete repeat=false { spawn "/nix/store/rxhlkq6676l5mk2vh52mwnsbgjan6wqf-timew-status"; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+E { spawn "sh" "-c" "uwsm-app -T -- fish -i -c yazi"; }
    Mod+End repeat=false { spawn "/nix/store/cqgjpapvivblvarjgl9fs8f8z7zglc74-timew-stop"; }
    Mod+Equal { spawn "/nix/store/jshmqy49nvxgmgrmqyvn0zw84q6rm71w-muse-shell/bin/muse-shell" "noti" "history-pop"; }
    Mod+Escape { spawn "loginctl" "lock-session"; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-or-monitor-left; }
    Mod+Home repeat=false { spawn "/nix/store/4wfazma2h6nvzf3l17w3nv7qgg99sygx-timew-start"; }
    Mod+I { focus-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+Left { focus-column-or-monitor-left; }
    Mod+Minus { spawn "/nix/store/jshmqy49nvxgmgrmqyvn0zw84q6rm71w-muse-shell/bin/muse-shell" "noti" "dismiss"; }
    Mod+N { spawn "sh" "-c" "uwsm-app -- /nix/store/1y4zp3wqqxfyb75ysxwdfdizslh9g7gm-quick-code-script"; }
    Mod+P { spawn "sh" "-c" "uwsm-app -T -- fish -i -c btop"; }
    "Mod+Page_Down" { focus-workspace-down; }
    "Mod+Page_Up" { focus-workspace-up; }
    Mod+Period { expel-window-from-column; }
    Mod+Print { screenshot; }
    Mod+Q { close-window; }
    Mod+R allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Return repeat=false { spawn "sh" "-c" "uwsm-app -- kitty"; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+S { toggle-window-floating; }
    Mod+Shift+D { spawn "sh" "-c" "uwsm-app -T -- fish -i -c yazi /home/muni/notebook//journal"; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+E { spawn "sh" "-c" "canberra-gtk-play -i desktop-logout; uwsm stop"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { move-column-left-or-to-monitor-left; }
    Mod+Shift+I { move-workspace-up; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right-or-to-monitor-right; }
    Mod+Shift+Left { move-column-left-or-to-monitor-left; }
    Mod+Shift+M { spawn "sh" "-c" "uwsm-app -- /nix/store/xqmz8vwjpjcav20bc6icgzd3wzax2h54-kodi-21.2/bin/kodi --windowing=x11"; }
    Mod+Shift+N { spawn "sh" "-c" "uwsm-app -T -- fish -i -c yazi /home/muni/notebook/"; }
    Mod+Shift+P { power-off-monitors; }
    "Mod+Shift+Page_Down" { move-workspace-down; }
    "Mod+Shift+Page_Up" { move-workspace-up; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Space { spawn "/nix/store/jshmqy49nvxgmgrmqyvn0zw84q6rm71w-muse-shell/bin/muse-shell" "noti" "act"; }
    Mod+T { spawn "sh" "-c" "uwsm-app -T -- fish -i -c taskwarrior-tui"; }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+U { focus-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+W { spawn "sh" "-c" "uwsm-app -- /nix/store/zfvb6my3xkqfm2z2a2w8pwkyi8cxw8dx-firefox-139.0/bin/firefox"; }
    Mod+WheelScrollDown cooldown-ms=100 { focus-workspace-down; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=100 { focus-workspace-up; }
    Mod+Z { switch-focus-between-floating-and-tiling; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "/nix/store/ihkhf0zc4b3xi24j1r93h9370j9sn42x-volume-down"; }
    XF86AudioMicMute allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute allow-when-locked=true repeat=false { spawn "/nix/store/yvlnf2jx36v9nhrlzqi11r5p03ylk08p-volume-toggle-mute"; }
    XF86AudioNext allow-when-locked=true repeat=false { spawn "playerctl" "next"; }
    XF86AudioPlay allow-when-locked=true repeat=false { spawn "playerctl" "play-pause"; }
    XF86AudioPrev allow-when-locked=true repeat=false { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true repeat=false { spawn "/nix/store/6y8lj8gxg6gvab3y3wh9k781vv3r5md2-volume-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "/nix/store/5aqh2zj1vg4aa0fr6v5xch0w2247h66k-brightness-down"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "/nix/store/gksmly6sl0ykjf9mqkyb4dixigf2zhzb-brightness-up"; }
}
spawn-at-startup "brillo" "-I"
spawn-at-startup "canberra-gtk-play" "-i" "desktop-login"
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    geometry-corner-radius 12.000000 12.000000 12.000000 12.000000
    clip-to-geometry true
}
window-rule {
    match app-id="^(Pinentry|gcr-prompter|org\\.kde\\.polkit-kde-authentication-agent-1|gay\\.vaskel\\.Soteria)$"
    block-out-from "screen-capture"
}
layer-rule { match namespace="swww-daemon"; }
layer-rule {
    exclude namespace="bar|notifications"
    shadow { on; }
}
gestures {
    dnd-edge-view-scroll {
        trigger-width 64
        delay-ms 100
        max-speed 3000
    }
    hot-corners
}
animations {
    slowdown 1.000000
    workspace-switch { spring damping-ratio=0.850000 epsilon=0.001000 stiffness=400; }
    horizontal-view-movement { spring damping-ratio=0.750000 epsilon=0.001000 stiffness=600; }
    window-movement { spring damping-ratio=0.750000 epsilon=0.001000 stiffness=800; }
    window-open { spring damping-ratio=0.750000 epsilon=0.001000 stiffness=800; }
    window-close {
        duration-ms 200
        curve "ease-out-quad"
    }
    window-resize { spring damping-ratio=0.750000 epsilon=0.001000 stiffness=800; }
}
